@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 3, 7, 18;
}

body {
  font-family: var(--font-poppins), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
